:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-mega-white: #FFFFFF;
  --color-tuman-white: #AFB1B8;
  --main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --mega-white: #fcfcfc;
  --mega-black: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

textarea {
  display: block;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.main-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  padding: 16px 32px;
  border-radius: 4px;
  border-color: transparent;
  -webkit-transition: background-color var(--main-animation);
  transition: background-color var(--main-animation);
  -webkit-transition: -webkit-box-shadow var(--main-animation);
  transition: -webkit-box-shadow var(--main-animation);
  transition: box-shadow var(--main-animation);
  transition: box-shadow var(--main-animation), -webkit-box-shadow var(--main-animation);
}

.social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color var(--main-animation);
  transition: background-color var(--main-animation);
}

.navigation__list {
  display: none;
}

.address {
  display: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  display: inline;
  margin-right: 76px;
}
.logo--white-letters {
  color: #F4F4FD;
}
.logo--black-letters {
  color: var(--color-navy-blue);
}

.burger-button__icon {
  width: 32px;
  height: 22px;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  fill: var(--color-navy-blue);
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url(../images/hero/people-office.png);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office.png);
  background-size: cover;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero__title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-align: center;
  width: 496px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 48px;
}
.hero .main-btn__hero {
  background-color: #4D5AE5;
  padding: 16px 32px;
}
.hero .main-btn__hero:is(:hover, :focus) {
  background-color: #404BBF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.benefits__container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 24px;
}
.benefits__item {
  width: 264px;
}
.benefits__img-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F4F4FD;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 24px;
  padding-top: 24px;
}
.benefits__logo {
  width: 64px;
  height: 64px;
}
.benefits__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 8px;
}
.benefits__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

.questioning__container {
  padding-bottom: 120px;
}
.questioning__title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 72px;
}
.questioning__img-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.team {
  background-color: var(--color-cloud);
  padding-top: 111px;
  padding-bottom: 129px;
}
.team__title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
  text-align: center;
  margin-bottom: 72px;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.team__img {
  width: 264px;
}
.team__summarizing {
  /* padding: 32px 16px; */
  background-color: var(--color-mega-white);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 32px;
  padding-top: 32px;
}
.team__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
  margin-bottom: 8px;
}
.team__profesion {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}
.team__social-setings-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.team-social__link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-iris);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color var(--main-animation);
  transition: background-color var(--main-animation);
}
.team-social__link:is(:hover, :focus) {
  background-color: var(--color-ocean);
}
.team .social__logo {
  content: "";
  width: 16px;
  height: 16px;
  fill: var(--color-cloud);
}

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}
.customers__title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
  margin-bottom: 72px;
}
.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}
.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 168px;
  height: 88px;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border-color var(--main-animation);
  transition: border-color var(--main-animation);
}
.customers__link:is(:hover, :focus) {
  border-color: var(--color-ocean);
}
.customers__link:is(:hover, :focus) .customers__logo {
  fill: var(--color-ocean);
}
.customers__logo {
  width: 104px;
  height: 56px;
  fill: var(--color-tuman-white);
  -webkit-transition: fill var(--main-animation);
  transition: fill var(--main-animation);
}/*# sourceMappingURL=main.css.map */