:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-mega-white: #FFFFFF;
  --color-tuman-white: #AFB1B8;
  --main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --mega-white: #fcfcfc;
  --mega-black: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

textarea {
  display: block;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.main-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  padding: 16px 32px;
  border-radius: 4px;
  border-color: transparent;
  -webkit-transition: background-color var(--main-animation);
  transition: background-color var(--main-animation);
  -webkit-transition: -webkit-box-shadow var(--main-animation);
  transition: -webkit-box-shadow var(--main-animation);
  transition: box-shadow var(--main-animation);
  transition: box-shadow var(--main-animation), -webkit-box-shadow var(--main-animation);
}

.social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color var(--main-animation);
  transition: background-color var(--main-animation);
}

.navigation__list {
  display: none;
}

.address {
  display: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 16px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  display: inline;
  margin-right: 76px;
}
.logo--white-letters {
  color: #F4F4FD;
}
.logo--black-letters {
  color: var(--color-navy-blue);
}

.burger-button__icon {
  width: 32px;
  height: 22px;
  fill: var(--color-navy-blue);
}

.burger-button {
  background-color: transparent;
  border: none;
  line-height: 0;
  padding: 0;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu {
  display: none;
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url(../images/mobile-images/mobile__hero-background.jpg);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile-images/mobile__hero-background.jpg);
  background-size: cover;
  background-position: center;
}
.hero__container {
  padding-top: 112px;
  padding-bottom: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__title {
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-align: center;
  max-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 48px;
}
.hero .main-btn__hero {
  background-color: #4D5AE5;
  display: block;
  padding: 16px 32px;
}
.hero .main-btn__hero:is(:hover, :focus) {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.benefits__container {
  padding-top: 96px;
  padding-bottom: 96px;
}
.benefits .benefits__list {
  max-width: 396px;
}
.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 72px;
}
.benefits__img-background {
  display: none;
}
.benefits__logo {
  display: none;
}
.benefits__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 8px;
}
.benefits__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

.team {
  background-color: var(--color-cloud);
  padding-top: 96px;
  padding-bottom: 128px;
}
.team__title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
  text-align: center;
  margin-bottom: 72px;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 72px;
}
.team__img {
  width: 264px;
}
.team__summarizing {
  /* padding: 32px 16px; */
  background-color: var(--color-mega-white);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 32px;
  padding-top: 32px;
}
.team__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
  margin-bottom: 8px;
}
.team__profesion {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}
.team__social-setings-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.team-social__link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-iris);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color var(--main-animation);
  transition: background-color var(--main-animation);
}
.team-social__link:is(:hover, :focus) {
  background-color: var(--color-ocean);
}
.team .social__logo {
  content: "";
  width: 16px;
  height: 16px;
  fill: var(--color-cloud);
}

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.customers__title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
  margin-bottom: 72px;
}
.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  row-gap: 72px;
}
.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 168px;
  height: 88px;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border-color var(--main-animation);
  transition: border-color var(--main-animation);
}
.customers__link:is(:hover, :focus) {
  border-color: var(--color-ocean);
}
.customers__link:is(:hover, :focus) .customers__logo {
  fill: var(--color-ocean);
}
.customers__logo {
  width: 104px;
  height: 56px;
  fill: var(--color-tuman-white);
  -webkit-transition: fill var(--main-animation);
  transition: fill var(--main-animation);
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: var(--color-mega-white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 24px 24px 40px 40px;
  }
  .mobile-menu__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    width: 100%;
  }
  .mobile-menu__navigation {
    padding-top: 56px;
    margin-bottom: auto;
  }
  .mobile-menu__navigation-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .mobile-menu__close-btn {
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 8px;
    margin-left: auto;
    margin-bottom: auto;
  }
  .mobile-menu__navigation-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
  }
  .mobile-menu__navigation-link--active {
    color: #404BBF;
  }
  .mobile-menu__navigation {
    margin-bottom: auto;
  }
  .mobile-menu__contacts {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }
  .mobile-menu__contacts-item:last-child {
    margin-top: 40px;
  }
  .mobile-menu__contacts-number {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11px;
    letter-spacing: 0.02em;
    color: #4D5AE5;
  }
  .mobile-menu__contacts-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .mobile-menu__social-setings-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 328px;
    margin-left: 25px;
    margin-right: 45px;
  }
  .mobile-menu__social-logo {
    width: 24px;
    height: 24px;
    fill: #f4f4fd;
  }
}
@media screen and (max-width: 420px) {
  .mobile-menu__contacts-number {
    font-size: 30px;
  }
}
@media screen and (max-width: 360px) {
  .mobile-menu__contacts-number {
    font-size: 25px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 426px;
    margin-left: auto;
    margin-right: auto;
  }
  .benefits__list {
    width: 396px;
  }
}
@media screen and (max-width: 767px) {
  .questioning {
    display: none;
  }
}
@media screen and (max-width: 390px) {
  .customers__list {
    row-gap: 35px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url(../images/mobile-images/mobile__hero-background@2x.jpg);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile-images/mobile__hero-background@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 766px;
  }
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url(../images/tablet-images/hero-background-tablet.jpg);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablet-images/hero-background-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url(../images/tablet-images/hero-background-tablet@2x.jpg);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablet-images/hero-background-tablet@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .header {
    position: relative;
    height: 70px;
  }
}
@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .questioning {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .address {
    display: block;
    height: 34px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__link--studio::after {
    margin-top: 18px;
    display: block;
    background: #404BBF;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    content: "";
    position: absolute;
    color: var(--color-ocean);
  }
}
@media screen and (min-width: 768px) {
  .address__link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17px;
    letter-spacing: 0.04em;
    color: #434455;
    -webkit-transition: color var(--main-animation);
    transition: color var(--main-animation);
  }
}
@media screen and (min-width: 768px) {
  .address-list {
    row-gap: 6px;
  }
}
@media screen and (min-width: 768px) {
  .address {
    position: absolute;
    top: 24px;
    right: 16px;
    bottom: auto;
  }
}
@media screen and (min-width: 768px) {
  .navigation__link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    -webkit-transition: color var(--main-animation);
    transition: color var(--main-animation);
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 56px;
    max-width: 496px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
    row-gap: 72px;
    max-width: 736px;
    min-width: 736px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__item {
    max-width: 356px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }
}
@media screen and (min-width: 768px) {
  .benefits__text {
    font-weight: 500;
  }
}
@media screen and (min-width: 768px) {
  .team {
    padding-bottom: 104px;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 64px;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .customers__list {
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
    row-gap: 72px;
  }
}
@media screen and (min-width: 768px) {
  .customers {
    padding-top: 93px;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .footer__information {
    margin-bottom: 72px;
    margin-right: 24px;
  }
}
@media screen and (min-width: 768px) {
  .footer-social-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .footer-subscribe-input {
    width: 264px;
    margin-bottom: 0;
    margin-right: 24px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-section {
    width: 453px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-btn {
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url(../images/hero/people-office.png);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office.png);
  }
}
@media screen and (min-width: 1158px) and (min-device-pixel-ratio: 2), screen and (min-width: 1158px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1158px) and (min-resolution: 192dpi), screen and (min-width: 1158px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url(../images/hero/hero-desktop-bg@2x.jpg);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-desktop-bg@2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}
@media screen and (min-width: 1158px) {
  .address {
    position: relative;
    top: 0;
    right: 0;
  }
  .address__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .address__item:not(:last-child) {
    padding-right: 40px;
  }
  .address:is(:hover, :focus) {
    color: #404BBF;
  }
  .address .address__link {
    font-size: 16px;
  }
}
@media screen and (min-width: 1158px) {
  .hero__container {
    padding: 188px 0;
  }
}
@media screen and (min-width: 1158px) {
  .benefits__img-background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #F4F4FD;
    border-radius: 4px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 24px;
    padding-top: 24px;
    width: 264px;
    height: 112px;
  }
  .benefits__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 64px;
    height: 64px;
  }
  .benefits__item {
    max-width: 264px;
  }
  .benefits__title {
    font-weight: 500;
    font-size: 20px;
  }
  .benefits__item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .benefits__list {
    row-gap: 0;
    max-width: 100%;
    min-width: 100%;
  }
  .benefits__text {
    font-weight: 400;
  }
}
@media screen and (min-width: 1158px) {
  .footer__container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-social-container {
    margin-right: 80px;
  }
  .footer__information {
    margin-bottom: 0;
    margin-right: 120px;
  }
}
@media screen and (min-width: 1158px) {
  .questioning {
    display: block;
  }
  .questioning__container {
    padding-bottom: 120px;
  }
  .questioning__title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 72px;
  }
  .questioning__img-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
  }
}/*# sourceMappingURL=main.css.map */