.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

p,
h1,
h2,
h3,
h4 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

textarea {
    display: block;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}