.navigation__list {
    display: none;
}

.address {
    display: none;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    display: inline;
    margin-right: 76px;

    &--white-letters {
        color: #F4F4FD;
    }
    &--black-letters {
        color: var(--color-navy-blue);
    }
}

.burger-button__icon {
    width: 32px;
    height:22px;
    fill: var(--color-navy-blue);
}
.burger-button {
    background-color: transparent;
    border: none;
    line-height: 0;
    padding: 0;
}


.navigation {
    display: flex;
}

.mobile-menu {
    display: none;
}

    
    // link 
        
//         &
        
//         &--portfolio::after {
//             margin-top: 20px;
//             display: block;
//             background: #404BBF;
//             border-radius: 2px;
//             width: 66px;
//             height: 4px;
//             content: "";
//             position: absolute;
//             color: var(--color-ocean);
//         }

//         &:is(:hover, :focus) {
//             color: #404BBF;
//         }
    
//     }

// }

// .address {

//     &__list {
//         display: flex;
//     }
    
//     &__item:not(:last-child) {
//         padding-right: 40px;
//     }
    
    
        
//         &:is(:hover, :focus) {
//             color: #404BBF
//         }
//     }
// }
